{{! Menu}}
<nav>
    <ul class="static-nav">
        <li><a href="{{@ghost.blog_url}}/">Blog</a></li>
        <li><a href="{{@ghost.blog_url}}/about/">About</a></li>
        <li><a href="{{@ghost.blog_url}}/about/">Contact</a></li>
    </ul>
</nav>